﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .coursP {
            border: black 1px solid;
        }

        #tout {
            width: 20%;
            height: 38%;
            float: left;
            margin-left: 40px;
            margin-top: 20px;
            border:none
        }

        #titre {
            width: 82%;
            height: 10%;
            float: left;
        }

        #niveau {
            width: 82%;
            float: left;
        }

        #prix {
            height: 18%;
            float: righ;
        }

        #des {
            height: 40%;
        }

        #prof {
            border-bottom: none;
        }

        #emailP {
            border-top: none
        }
    </style>
</head>
<body>
    <div>
        @foreach (var element in Model)
        {
            <div class="coursP" id="tout">
                <div class="coursP">
                    <b>ID : </b>@element.Id ------ @Html.ActionLink("Edit", "Edit", new { id = element.Id }) | @Html.ActionLink("delete", "delete", new { id = element.Id }) 
                </div>
                
                <div class="coursP" id="titre">

                    <b>  @element.nomCours </b>
                </div>
                <div class="coursP" id="niveau">
                    <b>  Niveau d'éducation :</b> @element.niveau
                </div>
                <div class="coursP" id="prix">
                    @element.prix $
                </div>
                <div class="coursP" id="nbrcours">
                    <b>Nombre de Sceance :</b> @element.nbrCours
                </div>
                <div class="coursP" id="nbrh">
                    <b> Nombre d'heures :</b> @element.nbrHeures
                </div>
                <div class="coursP" id="des">
                    <b> Description :</b> <br />
                    @element.description
                </div>
                <div class="coursP" id="vidz">
                    <b>  Lien vidéos :</b> @element.vidéos
                </div>
                <div class="coursP" id="prof">
                    <b> Enseignant :</b> @element.enseignant
                </div>
                <div class="coursP" id="emailP">
                    @element.email_enseignant
                </div>
            </div>
        }



    </div>
    <br /><hr>
    @Html.ActionLink("Ajouter un cours", "AddCourses")<br>
</body>
</html>
