﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        div {
            border: black 1px solid;
           
        }

        #tout {
            width: 20%;
            height: 37%;
            float: left;
            margin-left: 40px;
            margin-top: 20px;
        }

        #titre {
            width: 82%;
            height: 10%;
            float: left;
        }

        #niveau {
            width: 82%;
            float: left;
        }

        #prix {
            height: 18%;
            float: righ;
        }

        #des {
            height: 40%;
        }
        #prof {
            border-bottom: none;
        }

        #emailP {
            border-top: none
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>IndexLogIn_Sdt</title>
    <h4>Bonjour @ViewBag.username</h4>
</head>
<body>
    <br><br>
    <div id="coursDispo">
        Voici les cours disponible pour le niveau d'éducation que vous avez choisi :'
        <div> 
            @foreach (prjElearningv3.Models.cours element in ViewBag.cours)
            {
            <div id="tout">

                <div id="titre">
                  <b>  @element.nomCours </b>
                </div>
                <div id="niveau">
                  <b>  Niveau d'éducation :</b> @element.niveau
                </div>
                <div id="prix">
                    @element.prix $
                </div>
                <div id="nbrcours">
                    <b>Nombre de Sceance :</b> @element.nbrCours
                </div>
                <div id="nbrh">
                   <b> Nombre d'heures :</b> @element.nbrHeures
                </div>
                <div id="des">
                   <b> Description :</b> <br/>
                    @element.description
                </div>
                <div id="vidz">
                  <b>  Lien vidéos :</b> @element.vidéos
                </div>
                <div id="prof">
                   <b> Enseignant :</b> @element.enseignant
                </div>
                <div id="emailP">
                    @element.email_enseignant
                </div>
            </div>
            }
        </div>
    </div>
</body>
</html>
 