﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Back to List <br/>", "inscription")
        @Html.ActionLink("Already have an account? Click Here", "connection")
    </div>
</body>
</html>
